
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman, sans-serif;
    background: #f2f2f2;
}


header {
    background: #0a1a4f;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 17px;
}


nav {
    background: #1e3a8a;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.cards {
    display: grid;
    gap: 25px;
    padding: 40px 80px;
}

.card {
    background: #1d4ed8;
    color: white;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}


.gallery {
    display: grid;
    gap: 20px;
    padding: 40px 80px;
}

.gallery img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}

.gallery img:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    body {
        font-size: 17px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }

    body {
        font-size: 15px;
    }
}


@media (max-width: 767px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .cards {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .gallery {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    body {
        font-size: 13px;
    }
}
